#container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(2, 242, 250);
    cursor:pointer;
    color:white ;
    font-weight: bold;

}
button:hover{
    background-color:deepskyblue;
}
button:active{
    background-color: rgb(187, 28, 28);
}
input{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width:150px
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width:150px;
    margin:5px;
}
